$transparent-grey: #f1f1f1;
$lightest-grey: #eee;
$light-grey: #666;
$light-green: #8ccb48;
$dark-green: #017c7b;
$light-yellow: #ffee9d;
$mark-yellow: #fcf8e3;
$highlight-yellow: #fff7d5;
$yellow: #ffce34;
$bright-yellow: #ffee14;
$brown: #856404;
$orange: #ff9632;
$light-red: #ff5757;
$bright-red: #fe1e1e;
$red: #ff3e3e;
$warning-red: #c24040;
$warning-red-dark: #c13f40;
$dark-red: #8b0000;
$gull-grey: #9e9e9e;
$mid-gray: #aaa;
$input-grey: #ced4da;
$border-grey: #c8c9ca;
$ice-grey: #e0e0e0;
$ash-blue: #e4f1f2;
$search-grey: #edf2f7;
$divider-grey: #444;
$sort-grey: #212529;
$menu-grey: #1c2727;
$black-grey: #4a5252;
$teal: #f0fbff;
$persian-green: #00aca2;
$cyprus: #014342;
$surfie-green: #007d7b;
$forest-green: #0f5132;
$dark-pink: #eb547c;
$aqua: #add8e6;
$dark-blue: #0056b3;
$light-blue: #4a7f97;
$link-blue: #007bff;
$clear-blue: #1dc0ff6e;
$mid-blue: #568ea5;
$dark-sea: #386687;
$nav-link: #385975;
$sky-blue: #0a4f86;
$soft-blue: #6ca8bd; // don't use this
$google-blue: #4c5773;
$bluish: #0e4d93;
$dark-black: #0c0c0c;
$mid-black: #010101;
$black: #000000;
$btn-black-grey: #212c2c;
$depo-black: #111111;
$nav-black: #212121;
$footer-black: #181818;
$opaque-green: #d0fdec;
$pink: #ffc7c7;
$purple: #3e3d5b;
$light-green-sea: #63b7af;
$light-water-green: #61d4b3;
$success-green: #59cb8f;
$close-white: #f0f0f0;
$grey-white: #f9f9f9;
$off-white: #fafafa;
$dark-grey: #333333;
$record-bot-grey: #3c3c3f;
$lighter-grey: #b1b1b2;
$concrete: #f3f3f3;
$gallery: #eaeaea;
// --- element colors
$dark-bg: #272727;
$dark-button-bg-light: #4a5152;
$light-button-border: #ddd;
$marketing-dark-blue: #1e384c;
$lightbluegray: #18425d;
$dark-border: #d3d3d4;
$bluegray: #192e3a;
$darkbluegray: #113b5c;
$placeholder: #bfbfbf;
$success-message: #3cb878;
$secondary-text: #808080;
$gray: #848484;
$title-link: #043580;
$note-grey: #6e6f70;
$file-field-border: #d0d0d0;
$white: #ffffff;
$new-light-yellow: #f4b22a;
$wallpaper-yellow: #ffcd34;
$new-yellow: #ffce12;
$gold: #dea00a;
$dark-gold: #be9b47;
$button-yellow: #ffd929;
$screenshare-offset-opacity: #23464c;
$marketing-black: #121008;
$secondary-black: #011010;
$third-black: #1f1f23;
$light-black: #575757;
$session-nav-black: #122122;
$dark-gray: #353535;
$gray-text: #404040;
$light-gray: #bbb;
$clear-gray: #00000054;
$background-blue: hsla(242, 17%, 12%, 1);
$blue-violet: #8a2be2;
$bootstrap-blue: #86b7fe;

$marketing-light-blue: #1d5cb7;
$marketing-medium-blue: #0a4877;
$marketing-dark-blue: #263d6d;

$prevail-blue-20: #e9f3ff;
$prevail-blue-100: #9ac5f5;
$prevail-blue-400: #1675e3;
$prevail-blue-500: #0e4d93;
$prevail-blue-600: #174872;
$prevail-sunglow-400: #ffcd34;
$prevail-sunglow-600: #ffb71e;
$bg-grey-black: #101c1c;
$bg-dark-hex: #263030;

// --- rgb colors
$soft-rgba-hover: rgba(121, 82, 179, 0.1);
$outline-toolbar-button: rgba(55, 64, 64, 1);
$clip-color: rgba(255, 255, 255, 0.5);
$grey: rgb(74, 82, 82);
$rgba49: rgb(49, 49, 49);
$rgba20: rgba(20, 20, 20, 0);
$rgba20-06: rgba(20, 20, 20, 0.6);
$rgba20-1: rgba(20, 20, 20, 1);
$box-shadow-grey: rgba(33, 33, 33, 0.2);
$box-shadow-light-grey: rgba(0, 0, 0, 0.17);
$shadow: rgba(0, 0, 0, 0.23);
$slight-shadow: rgba(0, 0, 0, 0.3);
$mid-shadow: rgba(0, 0, 0, 0.15);
$light-shadow: rgba(0, 0, 0, 0.17);
$triple-rgba: rgba(0, 0, 0, 0.075);
$near-empty: rgba(0, 0, 0, 1);
$empty: rgba(0, 0, 0, 0);
$soft-blue-rgba: rgba(64, 120, 149, 1);
$dark-blue-rgba: rgba(10, 70, 101, 1);
$yellow-rgba: rgba(254, 206, 48, 1);
$google-login-shadow: rgba(0, 0, 0, 0.15);
$google-login-shadow-hover: rgba(0, 0, 0, 0.37);
$bootstrap-box-shadow: rgba(13, 110, 253, 0.25);
$briefcase-box-shadow-left: rgba(0, 0, 0, 0.14);
$briefcase-box-shadow-top: rgba(0, 0, 0, 0.12);
$briefcase-box-shadow-right: rgba(0, 0, 0, 0.2);

// session 2.0 new colors
$prevail-light-blue: #b3d3f8;
$lightest-blue: #f7fbfe;
$input-blue: #f0f6fd;
$muted-grey: #dadada;
$submit-grey: #c4c4c4;
$fourteen-shadow: rgba(0, 0, 0, 0.14);
$twelve-shadow: rgba(0, 0, 0, 0.12);
$twenty-shadow: rgba(0, 0, 0, 0.2);
$disabled-grey: rgba(255, 255, 255, 0.38);
$selected-blue: #79b1f2;

$light-warning-blue: #dae9ef;
$light-warning-green: #d4edda;
$light-warning-red: #f8d7da;
$light-warning-yellow: #fff3cd;

$dark-grey-elevation: rgba(255, 255, 255, 0.16);
$dark-elevation: rgba(255, 255, 255, 0.12);
$darker-elevation: rgba(255, 255, 255, 0.09);
$darkest-elevation: rgba(255, 255, 255, 0.05);

$icon-background-gray: #374040;

// stories 1.0 new colors:
$stories-input-gray: #e3e3e3;
$magenta-border: #ff00ff;
